extends layout

block content
  h1 #{game.title}
    h2.about-game About this game
      hr
      p.about-game-text #{game.description}
      p.game-price Price: $#{game.price}
    h2 Game Details
      hr
      ul.game-details
        li.game-genres Genres: 
          for genre, index in game.genres
            a(href=genre.url).game-genre #{genre.name} 
        li.game-author Author: 
          a(href=game.author.url) #{game.author.name}
        li.game-publishers Publisher: 
          for publisher in game.publisher
            a(href=publisher.url).game-publisher #{publisher.name} 
    hr
    br
    a(href=game.url+"/update") Update Game 