extends layout

block content
  h1 #{publisher.name}
  if games.length
    ul.publisher-games
      for game in games
        li
          a(href=game.url) #{game.title}
  else
    h2 No games listed by this publisher.
  hr
  br
  p
    form(action=publisher.url+"/delete", method="post") 
      input(type="hidden", name="publisher_id" value=publisher._id)
      button(type="submit") Delete Publisher
  if error
    p #{error}
  a(href=publisher.url+"/update") Update Publisher